<section class="solution p-5" style="background:#00a3c8;">
    <div class="container">
       <div class="row">
        <div class="col-md-6">
           <img src="assets/image/medical_complex_700x700.jpg" class="img-fluid">
           </div>
        
          <div class="col-md-6">
    <div class="txt-block  white-color wow fadeInUp" data-wow-delay="0.3s">
        
    <span class="section-id" style="color:#fff; padding-top: 80px; font-size: 30px;">Highest Quality Care</span>

    <h3 class="h3-md" style="color:#fff; padding-top: 20px; font-size: 40px;">Solutions to Complex Medical Problems</h3>

    <p class="txt-p" style="color:#fff; padding-top: 20px; padding-bottom: 15px; font-size: 20px;">An enim nullam tempor sapien gravida donec pretium ipsum  porta justo integer at  odio
       velna vitae auctor integer congue magna purus pretium ligula rutrum luctus ultrice aliquam
       a augue suscipit. Augue egestas volutpat egestas augue in cubilia laoreet magna
    </p>

    <a href="#" style="color:#fff; padding: 13px; border-radius: 5%; font-size: 20px; border:2px solid #fff;">Find Out More</a>

</div>

           </div>
        
        
        
        </div>
        
        
        </div>
    
    
    
    </section>