<section class="service p-5" style="background:#f8f9fb;">
    <div class="container">
       <div class="row">
        <div class="col-md-6">
           <img src="assets/image/chief_doctor_700x800.jpg" class="img-fluid">
           </div>
        
          <div class="col-md-6">
         
           <div class="txt-block pc-30 wow fadeInUp" data-wow-delay="0.4s">
               
        <span class="section-id" style="color:#00a3c8; font-weight:bold; font-size:25px; padding-bottom: 10px;">Welcome to MedService</span>

        <h3 class="h3-md" style="font-size:45px; color: #004861;">Clinic with Innovative Approach to Treatment</h3>

        <p>Porta semper lacus cursus, feugiat primis ultrice in ligula risus auctor tempus feugiat
           dolor lacinia cubilia curae integer congue leo metus, eu mollislorem primis in orci integer
           metus mollis faucibus. An enim nullam tempor sapien gravida donec pretium and ipsum porta
           justo integer at velna vitae auctor integer congue
        </p>

        <div class="singnature mt-35">

            <p class="p-small mb-15">Randon Pexon, Head of Clinic</p>

            <img class="img-fluid" src="assets/image/signature.png" width="240" height="38" alt="signature-image">	

        </div>

    </div>
           
           </div>
        </div>
        </div>
    </section>
    <section class="clinic p-4">
    <div class="container">
       <div class="row">
        
        <div class="col-md-6">
        
        <div class="txt-block mb-40 wow fadeInUp" data-wow-delay="0.4s">

    <span class="section-id" style="color:#00a3c8; font-weight:bold; font-size:15px; padding-bottom: 10px;" >HIGHEST QUALITY CARE</span>

    <h3  style="font-size:45px; color: #004861;" >Complete Medical Solutions in One Place</h3>

    <p class="mb-30">An enim nullam tempor sapien gravida donec enim ipsum blandit
       porta justo integer odio velna vitae auctor integer congue magna at pretium 
       purus pretium ligula rutrum itae laoreet augue posuere and curae integer 
       congue leo metus mollis primis and mauris
    </p>

    <div class="row">

        <div class="col-md-6">

            <!-- Option #1 -->
            <div class="box-list m-top-15">							
                <div class="box-list-icon" style="float:left; margin-top: 4px; margin-right:7px; color: #00a3c8;">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </div>
                <p class="p-sm">Nemo ipsam egestas volute and turpis dolores quaerat</p>							
            </div>

            <!-- Option #2 -->
            <div class="box-list">	
                <div class="box-list-icon blue-color"  style="float:left; color:#00a3c8; margin-top: 4px; margin-right:7px;">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
                <p class="p-sm">Magna luctus tempor</p>				
            </div>

            <!-- Option #3 -->
            <div class="box-list">	
                <div class="box-list-icon"  style="float:left; color: #00a3c8; margin-top: 4px; margin-right:7px;">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
                <p class="p-sm">An enim nullam tempor at pretium purus blandit</p>				
            </div>

        </div>

        <div class="col-md-6">

            <!-- Option #4 -->
            <div class="box-list">	
                <div class="box-list-icon blue-color" style="float:left; color: #00a3c8; margin-top: 4px; margin-right:7px;"><i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
                <p class="p-sm">Magna luctus tempor blandit a vitae suscipit mollis</p>				
            </div>

            <!-- Option #5 -->
            <div class="box-list m-top-15">							
                <div class="box-list-icon " style="float:left;color: #00a3c8; margin-top: 4px; margin-right:7px;">  
                <i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
                <p class="p-sm">Nemo ipsam egestas volute turpis dolores quaerat</p>							
            </div>

            <!-- Option #6 -->
            <div class="box-list">	
                <div class="box-list-icon" style="float:left;color: #00a3c8; margin-top: 4px; margin-right:7px;">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </div>
                <p class="p-sm">An enim nullam tempor</p>				
            </div>

        </div>

    </div>	

</div>
        </div> 
           
            <div class="col-md-6">
          <img src="assets/image/emergency_help_700x800.jpg" class="img-fluid">
           
           </div>
        </div>
        </div>
    
    </section>
    <section class="departmentt p-5">
    <div class="container">
        <div class="row">
        <div class="col-md-12 text-center">
     <h3 class="dep-h">Certified and Experienced Doctors</h3>
     <p class="dep-p">Aliquam a augue suscipit, luctus neque purus ipsum neque <br>dolor primis libero at tempus, blandit posuere ligula varius congue cursus porta feugiat</p>
            </div>
        </div>
    <div class="row">
        <div class="col-md-12">
    
    <img src="assets/image/image-07.png" class="img-fluid">
    
    
        </div>
        </div>
        </div>
    </section>
      <!--contact-->
   <div class="contact">
    <div class="container">
    <div class="row">

        <div class="col-md-3 ">
        
        <div class="widget">

<img src="assets/image/logo.png" width="200px;">
<p style="color: #c5d1dc; font-size: 20px;">Aliquam orci nullam tempor sapien gravida donec an enim ipsum porta justo at velna auctor congue</p>

        
        </div>


        </div>
        
          <div class="col-md-3 ">
        <div class="widgett">

        <h5>Our Location</h5>

       <p style="color: #c5d1dc; font-size: 18px; margin-top: 20px;">121 King Street, Melbourne,
Victoria 3000 Australia</p>
            <a href="#">E: hello@yourdomain.com</a>
            <p style="color: #c5d1dc; font-size: 18px; margin-top: 5px;">P: +12 9 8765 4321</p>
        </div>
    </div>
  
    <div class="col-md-3">
        <div class="widgett">
        
            <h5>Working Time</h5>

            
            <p class="p-sm">Mon - Wed - <span>9:00 AM - 7:00 PM</span></p>
            <p class="p-sm">Thursday - <span>9:00 AM - 6:30 PM</span></p>
            <p class="p-sm">Friday - <span>9:00 AM - 6:00 PM</span></p>
            <p class="p-sm">Sat - Sun - <span>Closed</span></p>									

        </div>
    </div>

    <div class="col-md-3">
        <div class="widgett">
                            
            
            <h5>Emergency Cases</h5>

         
            <h5 style="color: #00a3c8; font-size: 27px;">  1-800-123-4560</h5>

            
            <p class="p-sm mt-15">Aliquam orci nullam undo tempor sapien gravida donec enim ipsum porta
               justo velna aucto magna
            </p> 																												

        </div>
    </div>

        </div>
    </div>


<hr>

<div class="footer">
    <p>© 2019 MedService. All Rights Reserved</p>
</div>

</div>

<!--end contact-->
    
   












