<section class="service p-5" style="background:#f8f9fb;">
    <div class="container">
       <div class="row">
        <div class="col-md-6">
           <img src="assets/image/image-03.png" class="img-fluid">
           </div>
        
          <div class="col-md-6">
         
           <div class="txt-block pc-30 wow fadeInUp" data-wow-delay="0.4s">
               
        <span class="section-id" style="color:#00a3c8; font-weight:bold; font-size:25px; padding-bottom: 10px;">Welcome to MedService</span>

        <h3 class="h3-md" style="font-size:45px; color: #004861;">Complete Medical Solutions in One Place</h3>

        <p>Porta semper lacus cursus, feugiat primis ultrice in ligula risus auctor tempus feugiat
           dolor lacinia cubilia curae integer congue leo metus, eu mollislorem primis in orci integer
           metus mollis faucibus. An enim nullam tempor sapien gravida donec pretium and ipsum porta
           justo integer at velna vitae auctor integer congue
        </p>

        <div class="singnature mt-35">

            <p class="p-small mb-15">Randon Pexon, Head of Clinic</p>

            <img class="img-fluid" src="assets/image/signature.png" width="240" height="38" alt="signature-image">	

        </div>

    </div>
           
           </div>
        </div>
        </div>
    </section>
    
     <section class="departmentt p-5">
    <div class="container">
        <div class="row">
        <div class="col-md-12 text-center">
     <h3 class="dep-h">Certified and Experienced Doctors</h3>
     <p class="dep-p">Aliquam a augue suscipit, luctus neque purus ipsum neque <br>dolor primis libero at tempus, blandit posuere ligula varius congue cursus porta feugiat</p>
            </div>
        </div>
    <div class="row">
        <div class="col-md-12">
    
    <img src="assets/image/image-07.png" class="img-fluid">
    
    
        </div>
        </div>
        </div>
    </section>
     <section class="contact">
        <div class="container">
        <div class="row">
            <div class="col-md-3 ">
            
            <div class="widget ">

    <img src="assets/image/logo.png" width="200px;">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean malesuada fringilla sem, at dictum lectus ultricies quis. Etiam eu bibendum orci. Aliquam erat volutpat.

MORE ABOUT US</p>

            
            </div>
    
    
            </div>
            
              <div class="col-md-3 ">
            <div class="widgett">

            <h5>Our Location</h5>

           <p>121 King Street, Melbourne,

Victoria 3000 Australia</p>
                <a href="#">E: hello@yourdomain.com</a>
                <p>P: +12 9 8765 4321</p>
            </div>
        </div>
      
         <div class="col-md-3">
            <div class="widgett">

            <h5>Working Time</h5>

            <ul class="menuu list-unstyled">
                <li><a href="#">Mon - Wed - 9:00 AM - 7:00 PM</a></li>
                <li><a href="#">Thursday - 9:00 AM - 6:30 PM</a></li>
                <li><a href="#">Friday - 9:00 AM - 6:00 PM</a></li>
                <li><a href="#">Sat - Sun - Closed</a></li>
                <li><a href="#">Emergency Cases</a></li>
               
            </ul>

            </div>
        </div>
    
       <div class="col-md-3">
            <div class="widgett">

            <h5>Emergency Cases</h5>
            <h3>1-800-123-4560</h3>
           <p>Aliquam orci nullam undo tempor sapien gravida donec enim ipsum porta justo velna aucto magna</p>

            </div>
        </div>
            </div>
         </div>
    </section>
    <div class="footer pt-20">
        <p>© 2019 MedService. All Rights Reserved</p>
    </div>

    
    