<!--gallery-->

<div class="Gallery pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">

<img src="assets/image/g1.jpg" class="img-fluid mb-4">

<img src="assets/image/g4.jpg" class="img-fluid mb-4">

<img src="assets/image/g7.jpg" class="img-fluid mb-4">

<img src="assets/image/g10.jpg" class="img-fluid mb-4">

            </div>



            <div class="col-md-4">
                

<img src="assets/image/g2.jpg" class="img-fluid mb-4">

<img src="assets/image/g6.jpg" class="img-fluid mb-4">

<img src="assets/image/g8.jpg" class="img-fluid mb-4">

<img src="assets/image/g12.jpg" class="img-fluid mb-4">
            </div>



            <div class="col-md-4">
                

                <img src="assets/image/g3.jpg" class="img-fluid mb-4">
                
                <img src="assets/image/g5.jpg" class="img-fluid mb-4">
                
                <img src="assets/image/g9.jpg" class="img-fluid mb-4">
                
                <img src="assets/image/g11.jpg" class="img-fluid mb-4">
                            </div>



        </div>
    </div>
</div>

<!--end gallery-->

  <!--contact-->
  <div class="contact">
    <div class="container">
    <div class="row">

        <div class="col-md-3 ">
        
        <div class="widget">

<img src="assets/image/logo.png" width="200px;">
<p style="color: #c5d1dc; font-size: 20px;">Aliquam orci nullam tempor sapien gravida donec an enim ipsum porta justo at velna auctor congue</p>

        
        </div>


        </div>
        
          <div class="col-md-3 ">
        <div class="widgett">

        <h5>Our Location</h5>

       <p style="color: #c5d1dc; font-size: 18px; margin-top: 20px;">121 King Street, Melbourne,
Victoria 3000 Australia</p>
            <a href="#">E: hello@yourdomain.com</a>
            <p style="color: #c5d1dc; font-size: 18px; margin-top: 5px;">P: +12 9 8765 4321</p>
        </div>
    </div>
  
    <div class="col-md-3">
        <div class="widgett">
        
            <h5>Working Time</h5>

            
            <p class="p-sm">Mon - Wed - <span>9:00 AM - 7:00 PM</span></p>
            <p class="p-sm">Thursday - <span>9:00 AM - 6:30 PM</span></p>
            <p class="p-sm">Friday - <span>9:00 AM - 6:00 PM</span></p>
            <p class="p-sm">Sat - Sun - <span>Closed</span></p>									

        </div>
    </div>

    <div class="col-md-3">
        <div class="widgett">
                            
            
            <h5>Emergency Cases</h5>

         
            <h5 style="color: #00a3c8; font-size: 27px;">  1-800-123-4560</h5>

            
            <p class="p-sm mt-15">Aliquam orci nullam undo tempor sapien gravida donec enim ipsum porta
               justo velna aucto magna
            </p> 																												

        </div>
    </div>

        </div>
    </div>


<hr>

<div class="footer">
    <p>© 2019 MedService. All Rights Reserved</p>
</div>

</div>

<!--end contact-->